<!-- <ul>
    <% for( let index = 0; index < feedbackObjs.length; index++ ) { %>
      <li>
        <%= feedbackObjs[index].name %>:
        <%= feedbackObjs[index].feedback %> 
      </li>
    <% } %>
    </ul>
    
    
    <form action="/form" method="post">
        <input type="text" name="name" placeholder="enter name">
        <input type="text" name="feedback" placeholder="enter feedback">
        <input type="submit">
    </form> -->